@mixin reset-ul() {
  margin: 0;
  padding: 0;
}
@mixin font-bold() {
  font-family: $font-family;
  font-weight: 800;
}
@mixin font-normal() {
  font-family: $font-family;
  font-weight: 400;
}
@mixin font-light() {
  font-family: $font-family;
  font-weight: 300;
}
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container() {
  width: 320px;
  margin: 0 auto;
  @media ($tablet-width) {
    width: 660px;
  }
  @media ($desktop-width) {
    width: 960px;
  }
}
