$font-family: "Open Sans", "Arial", sans-serif;
$font-main-color: #283645;
$font-secondary-color: #d22856;
$tablet-width: "min-width: 700px";
$desktop-width: "min-width: 960px";
$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
