.burger {
  padding: 0;
  margin: 0;
  width: 120px;
  height: 40px;
  background-color: transparent;
  float: right;
}
@media ($tablet-width) {
  .burger {
    float: right;
  }
}
@media ($desktop-width) {
  .burger {
    display: none;
  }
}
