.burger {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  margin-top: 12px;
  float: right;
  position: relative;
  margin-right: -10px;
  text-align: left;
  &--closed {
    background-image: url("../../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media ($tablet-width) {
  .burger {
    margin-right: 10px;
    margin-top: 37px;
  }
}
@media ($desktop-width) {
  .burger {
    display: none;
  }
}
