.button {
  @include font-bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 281px;
  height: 55px;
  padding-top: 14px;
  border: 3px solid #ffffff;
  margin-top: 8px;
  margin-bottom: 32px;
  &--post {
    color: $font-secondary-color;
    text-align: center;
    border: 3px solid #d22856;
    margin-bottom: 12px;
    margin-left: -2px;
    &:hover {
      background-color: #d22856;
      color: #ffffff;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  &--cancel {
    color: $font-main-color;
    text-align: center;
    border: 3px solid #283645;
    opacity: 0.1;
    margin-left: -2px;
    &:hover {
      background-color: #283645;
      color: #ffffff;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
@media ($tablet-width) {
  .button {
    width: 300px;
    margin-left: -15px;
    &--download {
      margin-bottom: 46px;
    }
    &--post {
      margin-top: 67px;
      width: 260px;
      margin-left: 26px;
      margin-bottom: 25px;
    }
    &--cancel {
      width: 260px;
      margin-left: 26px;
    }
  }
}
@media ($desktop-width) {
  .button {
    font-size: 18px;
    &--post {
      width: 183px;
      margin-top: 139px;
      margin-left: 27px;
    }
    &--cancel {
      width: 180px;
      margin-top: 139px;
      margin-left: 0;
    }
    &--download {
      font-size: 21px;
      margin-bottom: 67px;
      &:hover {
        background-color: #ffffff;
        color: #d22856;
      }
      &:active {
        color: rgba(210, 40, 84, 0.3);
      }
    }
  }
}
