@media ($tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__item {
    width: 300px;
    &:nth-of-type(3) {
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
    }
  }
}
