.page-footer__wrapper {
  .copyright {
    margin-left: 54px;
    p {
      margin-top: 23px;
    }
  }
}
.copyright {
  width: 150px;
  float: left;
  margin-left: 60px;
  p {
    @include font-normal;
    font-size: 14px;
    line-height: 18px;
    color: $font-main-color;
    text-align: left;
    margin-top: 56px;
    padding-left: 22px;
  }
}
@media ($desktop-width) {
  .copyright {
    padding-top: 35px;
    padding-left: 0;
    p {
      font-size: 18px;
      padding-left: 0;
    }
  }
  .page-footer__wrapper {
    .copyright {
      padding-top: 0px;
      padding-left: 68px;
    }
  }
}
