.page-footer__wrapper {
  .copyright {
    margin-left: 54px;
    p {
      margin-top: 23px;
    }
  }
}
.copyright {
  width: 150px;
  margin-left: 57px;
  position: relative;
  p {
    @include font-normal;
    font-size: 14px;
    line-height: 18px;
    color: $font-main-color;
    text-align: left;
    margin-top: 56px;
    padding-left: 22px;
  }
  a {
    width: 40px;
    height: 50px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 9px;
    right: -7px;
    position: absolute;
    &:hover {
      background-image: url("../img/htmlacademy-hover.svg");
    }
    &:active {
      background-image: url("../img/htmlacademy-hover.svg");
      opacity: 0.3;
    }
  }
}
@media ($tablet-width) {
  .copyright {
    float: left;
    padding-left: 40px;
    a {
      top: 41px;
      right: -64px;
    }
  }
}
@media ($desktop-width) {
  .copyright {
    padding-top: 0px;
    padding-left: 170px;
    p {
      font-size: 18px;
      padding-left: 0;
    }
    a {
      top: 43px;
      right: -200px;
    }
  }
}
