.cost {
  background-color: #f2f2f2;
  min-height: 471px;
}
.cost__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 91px;
}
.cost__item {
  text-align: center;
  width: 278px;
  &--description {
    display: none;
  }
}
.cost__price {
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  min-height: 98px;
  padding-top: 16px;
  &:last-child {
    border-right: none;
  }
  &--description {
    background-color: transparent;
  }
}
.cost__price-title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2px;
}
.cost__price-item {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
@media ($tablet-width) {
  .cost {
    min-height: 377px;
  }
  .cost__wrapper {
    @include container;
    width: auto;
    padding-top: 90px;
  }
  .cost__price {
    min-height: 77px;
    padding-top: 10px;
    min-width: 154px;
  }
  .cost__price-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .cost__price-item {
    font-size: 18px;
    line-height: 30px;
  }
  .cost__item {
    width: 155px;
    float: left;
    &--description {
      display: block;
      float: left;
    }
  }
  .cost__toggles {
    display: none;
  }
  .products__item:nth-child(n+2) {
  display: block;
  }
}
@media ($desktop-width) {
  .cost__wrapper {
    padding: 0 10px;
    padding-top: 150px;
  }
  .cost {
    min-height: 525px;
  }
  .cost__item {
    width: 235px;
  }
  .cost__price {
    width: 235px;
    min-height: 98px;
  }
  .cost__price-title {
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 2px;
  }
  .cost__price-item {
    font-size: 24px;
  }
}
