.cost {
  background-color: #f2f2f2;
  min-height: 471px;
  svg {
    width: 100%;
    height: auto;
    margin-bottom: 59px;
  }
}
.cost__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
}
.cost__item {
  text-align: center;
  width: 278px;
  &--description {
    display: none;
  }
  &:nth-of-type(3) {
    .cost__price {
      position: relative;
      &::before {
        content: "";
        width: 75px;
        height: 75px;
        background-image: url("/img/bg-hit.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: -2px;
      }
      &::after {
        content: "Хит";
        width: 50px;
        height: 25px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #ffffff;
        position: absolute;
        top: 14px;
        left: -3px;
        transform: rotate(-45deg);
      }
    }
  }
}
.cost__price {
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  min-height: 98px;
  padding-top: 16px;
  &:last-child {
    border-right: none;
  }
  &--description {
    background-color: transparent;
  }
}
.cost__price-title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2px;
}
.cost__price-item {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
@media ($tablet-width) {
  .cost {
    min-height: 377px;
    background-position: center -19px;
    svg {
      margin-bottom: 0px;
    }
  }
  .cost__wrapper {
    @include container;
    width: auto;
    padding-top: 27px;
  }
  .cost__price {
    min-height: 79px;
    padding-top: 12px;
    padding-left: 5px;
    min-width: 154px;
  }
  .cost__price-title {
    font-size: 16px;
    margin-bottom: -2px;
  }
  .cost__price-item {
    font-size: 18px;
    line-height: 30px;
  }
  .cost__item {
    width: 155px;
    float: left;
    &--description {
      display: block;
      float: left;
      .cost__price {
        min-height: 78px;
      }
    }
    &:nth-of-type(3) {
      .cost__price {
        &::before {
          background-image: url("/img/bg-hit-tablet.svg");
          left: 0;
        }
        &::after {
          top: 7px;
        }
      }
    }
  }
  .cost__toggles {
    display: none;
  }
  .products__item:nth-child(n+2) {
  display: block;
  }
}
@media ($desktop-width) {
  .cost__wrapper {
    padding: 0 10px;
    padding-top: 68px;
  }
  .cost {
    min-height: 525px;
  }
  .cost__item {
    width: 235px;
    &:nth-of-type(3) {
      .cost__price {
        position: relative;
        &::before {
          content: "";
          width: 75px;
          height: 75px;
          background-image: url("/img/bg-hit.svg");
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          content: "Хит";
          width: 50px;
          height: 25px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          color: #ffffff;
          position: absolute;
          top: 14px;
          left: 0px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .cost__price {
    width: 235px;
    min-height: 98px;
    padding-top: 10px;
  }
  .cost__price-title {
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 2px;
  }
  .cost__price-item {
    font-size: 24px;
  }
  .cost__item--description .cost__price {
    min-height: 97px;
  }
}
