.download {
  max-height: 274px;
  background-color: #1d2631;
  margin-bottom: 42px;
  h2 {
    display: none;
    @include font-light;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
}
.download__wrapper {
  @include container;
  padding: 20px;
  padding-top: 23px;
  text-align: center;
}
.download__title {
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.download__link {
  display: flex;
}
.download__item {
  display: block;
  width: 47px;
  height: 56px;
  margin-bottom: 8px;
  margin-left: 37px;
  &--Apple {
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &--Android {
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center 9px;
    margin-left: 32px;
  }
  &--Windows {
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: center 11px;
    margin-left: 33px;
  }
}
@media ($tablet-width) {
  .download {
    margin-top: -551px;
    margin-bottom: 328px;
    position: relative;
    padding-right: 330px;
    background-color: transparent;
  }
  .download__wrapper {
    width: 300px;
    .visually-none {
      display: block;
      width: 200px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 32px;
      padding-left: 9px;
    }
  }
  .download__title {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    margin-left: -14px
  }
  .download__link {
    margin-bottom: 28px;
  }
  .download__item {
    margin-left: 30px;
    &--Android {
      background-position: center 7px;
      margin-left: 35px;
      opacity: 0.4;
    }
    &--Windows {
      margin-left: 31px;
    }
  }
}
@media ($desktop-width) {
  .download {
    margin-top: -658px;
    margin-bottom: 454px;
    padding-right: 650px;
  }
  .download__wrapper {
    width: 300px;
    .visually-none {
      font-size: 50px;
      line-height: 60px;
      width: 250px;
      margin-bottom: 52px;
    }
  }
  .download__title {
    margin-left: -15px
  }
  .download__link {
    margin-bottom: 47px;
  }
  .download__item {
    margin-left: 32px;
    &--Android {
      opacity: 1;
    }
    &--Windows {
      margin-left: 33px;
    }
  }
}
