.effect {
  @include container;
  padding: 0 20px;
  display: none;
}
@media ($tablet-width) {
  .effect {
    display: block;
    width: 100%;
    padding-left: 330px;
    position: relative;
    margin-bottom: 30px;
  }
}
