.effect {
  display: none;
  min-height: 320px;
  padding-top: 71px;
  h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    padding-right: 30px;
    margin-bottom: 10px;
  }
  a {
    color: $font-secondary-color;
  }
}
.effect__wrapper {
  @include container;
  padding: 0 50px;
}
@media ($tablet-width) {
  .effect {
    display: block;
    margin-bottom: 30px;
  }
  .effect__wrapper {
    padding-left: 330px;
    padding-right: 0;
    position: relative;
    &::before {
      content: "";
      width: 240px;
      height: 280px;
      background-image: url(../img/icon-timer.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 20px;
      top: -37px;
    }
    &::after {
      content: "24";
      width: 204px;
      height: 204px;
      border: 15px solid #d22856;
      border-radius: 50%;
      position: absolute;
      left: 38px;
      top: 19px;
      font-size: 96px;
      font-weight: bold;
      color: #d22856;
      padding-top: 70px;
      padding-left: 30px;
    }
  }
}
@media ($desktop-width) {
  br {
    display: none;
  }
  .effect {
    background-color: #f2f2f2;
    min-height: 427px;
    margin-bottom: 0;
  }
  .effect__wrapper {
    padding-left: 375px;
    padding-top: 10px;
    p {
      font-size: 18px;
      line-height: 30px;
      color: $font-main-color;
      padding-right: 50px;
      margin-bottom: 31px;
    }
    h2 {
      margin-bottom: 21px;
    }
    a {
      font-size: 18px;
      line-height: 30px;
    }
    &::before {
      width: 300px;
      height: 350px;
      background-size: cover;
      left: 10px;
      top: -57px;
    }
    &::after {
      width: 253px;
      height: 253px;
      left: 33px;
      top: 13px;
      font-size: 120px;
      font-weight: bold;
      color: #d22856;
      padding-top: 92px;
      padding-left: 41px;
    }
  }
}
