.main-photo {
  @include container;
  width: 320px;
  a {
    display: block;
    width: 100%;
    height: 137px;
    position: relative;
    &::after {
      content: "Панорама дня";
      width: 140px;
      height: 36px;
      background-color: #d22856;
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 12px;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      padding-top: 6px;
    }
  }
}
.main-photo__description {
  padding: 0 20px;
  margin-bottom: 22px;
  .photo__user-post {
    margin-bottom: 10px;
  }
}
.main-photo__wrapper {
  padding-top: 17px;
  padding-left: 18px;
  background-color: #f2f2f2;
  min-height: 190px;
}
@media ($tablet-width) {
  .main-photo {
    width: 700px;
    a {
      height: 509px;
      &::after {
        top: 57px;
        right: 40px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .main-photo__description {
      padding: 0 40px;
      margin-bottom: 50px;
    }
  }
  .main-photo__wrapper {
    min-height: 120px;
    padding-top: 23px;
    padding-left: 27px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .photo__like {
      order: 2;
      margin-left: auto;
      margin-right: 60px;
      margin-top: 0px;
    }
    .photo__user-name {
      order: 1;
    }
    .photo__user-post {
      order: 3;
      margin-top: -15px;
    }
  }
}
@media ($desktop-width) {
  .main-photo {
    width: 100%;
    a {
      height: 507px;
      background-color: red;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .main-photo__description {
      padding: 0 10px;
      padding-top: 0;
      min-height: 80px;
      margin: 0 auto;
      width: 100%;
    }
    .main-photo__wrapper {
      min-height: 96px;
    }
  }
}
