.maps {
  @include container;
  height: 200px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  &::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 92px;
    left: 140px;
    background-image: url("../../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &::before {
    content: "";
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-position: center -28px;
    background-repeat: no-repeat;
  }
  @media ($retina),($retina2) {
    background-image:  url("../../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}
@media ($tablet-width) {
  .maps {
    width: 100%;
    height: 388px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -332px;
    &::after {
      top: 206px;
      left: 47%;
    }
    &::before {
      height: 83px;
      position: absolute;
      background-size: cover;
      background-position: center 0px;
    }
    @media ($retina),($retina2) {
      background-image:  url("../../img/bg-map-tablet@2x.jpg");
      background-size: 320px auto;
    }
  }
}
@media ($desktop-width) {
  .maps {
    height: 503px;
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -276px;
    &::after {
      top: 263px;
      left: 48%;
    }
    &::before {
      height: 103px;
      position: absolute;
      background-size: cover;
      background-position: center 0px;
    }
    @media ($retina),($retina2) {
      background-image:  url("../../img/bg-map-desktop@2x.jpg");
      background-size: 320px auto;
    }
  }
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
@media (min-width: 700px) {
  .maps {
    width: 100%;
  }
}
