.maps {
  @include container;
  height: 200px;
  background: url("/img/bg-map-mobile@1x.png") no-repeat center;
}
@media ($tablet-width) {
  .maps {
    height: 388px;
  }
}
@media ($desktop-width) {
  .maps {
    height: 503px;
  }
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
@media (min-width: 760px) {
  .maps {
    width: 100%;
  }
}
