.menu {
  min-height: 721px;
  position: relative;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  &--form {
    min-height: 195px;
  }
  &--photo {
    min-height: 495px;
  }
  &--closed {
    min-height: 463px;
    background-image:
      url("../../img/iphone-hand-mobile@1x.png"),
      url("../../img/bg-back-mobile@1x.jpg");
    background-position:left bottom, center;
    background-repeat: no-repeat;
    @media ($retina),($retina2) {
      background-image:
      url("../../img/iphone-hand-mobile@2x.png"),
      url("../../img/bg-back-mobile@2x.jpg");
      background-size: 258px auto, 700px auto;
      }
    .menu__list {
      display: none;
    }
    .menu__header {
      @include clearfix;
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      min-height: 70px;
    }
  }
  &--no-js {
    .burger {
      display: none;
    }
  }
}
.menu__header {
  @include clearfix;
  display: block;
  background-color: #283645;
  min-height: 70px;
  border-bottom: 1px solid #000000;
  border-top: 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.menu__list {
  @include reset-ul;
  list-style: none;
  background-color: #283645;
}
.menu__item {
  @include font-bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  min-height: 64px;
  padding-top: 15px;
}
.menu__title {
  @include font-light;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 28px;
}
@media ($tablet-width) {
  .menu__header {
    min-height: 110px;
  }
  .menu {
    min-height: 984px;
    &--closed {
      min-height: 730px;
      background: none;
      .menu__header {
        min-height: 110px;
      }
    }
  }
  .menu__title {
    font-size: 50px;
    line-height: 60px;
    width: 500px;
    padding-top: 41px;
  }
}
@media ($desktop-width) {
  .menu {
    &--closed {
      .menu__list {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        margin-top: -65px;
        margin-left: 329px;
      }
      .menu__item {
        display: inline-block;
        border: none;
        box-shadow: none;
        @include font-normal;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
        padding: 0;
        margin-right: 76px;
        &:last-child {
          margin-right: 0;
        }
      }
      .menu__header {
        padding-left: 10px;
        background-color: transparent;
        padding: 0;
      }
      .menu__wrapper {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .menu__wrapper2 {
        @include container;
        margin: 0 auto;
      }
    }
  }
}
