.page-footer {
  b {
    @include font-bold;
    font-size: 18px;
    color: #000000;
    display: block;
  }
  a {
    @include font-light;
    font-size: 24px;
    color: $font-secondary-color;
    text-decoration: none;
  }
  span {
    @include font-light;
    font-size: 24px;
    color: $font-secondary-color;
  }
}
.page-footer__wrapper {
  @include container;
  padding: 0 20px;
  text-align: center;
}
.page-footer__copyright {
  @include container;
  display: none;
}
.page-footer__title {
    @include font-light;
    font-size: 24px;
    line-height: 29px;
    color: $font-main-color;
  }
@media ($tablet-width) {
  .page-footer__title {
    font-size: 40px;
    line-height: 48px;
    display: block;
    width: 500px;
    margin: 0 auto;
  }
  .page-footer__copyright {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    }
}
@media ($desktop-width) {
  .contacts__item:nth-of-type(2) {
    order: 1;
  }
  .page-footer__copyright {
    padding: 0 10px;
  }
}
