.page-footer {
  b {
    @include font-bold;
    font-size: 18px;
    color: #000000;
    display: block;
    margin-bottom: 6px;
  }
  a {
    @include font-light;
    font-size: 24px;
    color: $font-secondary-color;
    text-decoration: none;
    display: block;
    margin-bottom: 23px;
  }
  span {
    @include font-light;
    font-size: 24px;
    color: $font-secondary-color;
  }
}
.page-footer__wrapper {
  @include container;
  @include clearfix;
  padding: 0 20px;
  text-align: center;
  padding-top: 18px;
}
.page-footer__copyright {
  @include container;
  @include clearfix;
  display: none;
}
.page-footer__title {
  @include font-light;
  font-size: 24px;
  line-height: 29px;
  color: $font-main-color;
  margin-bottom: 34px;
  }
.page-footer__phone-hidden {
  display: none;
}
@media ($tablet-width) {
  .page-footer__title {
    font-size: 40px;
    line-height: 48px;
    display: block;
    width: 500px;
    margin: 0 auto;
    padding-top: 28px;
    margin-bottom: 30px;
  }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    .copyright {
      margin-left: 0;
      p {
        margin-top: 55px;
        padding-left: 40px;
      }
    }
    .social {
      padding-left: 60px;
    }
  }
  .page-footer__copyright {
    padding: 0 20px;
    display: block;
    min-height: 127px;
    }
  .contacts__item:nth-of-type(2) {
    b {
      padding-left: 40px;
    }
    .mail {
      padding-left: 40px;
    }
  }
  .page-footer--photo {
    .page-footer__wrapper {
      padding-top: 0px;
    }
  }
}
@media ($desktop-width) {
  .contacts__item:nth-of-type(2) {
    order: 1;
  }
  .page-footer__copyright {
    padding: 0 10px;
    min-height: 200px;
  }
  .page-footer__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 42px;
    padding-top: 60px;
  }
  .page-footer__wrapper {
    padding-top: 3px;
  }
  .contacts__item {
    b {
      margin-bottom: 25px;
    }
  }
  .page-footer--photo {
    .page-footer__wrapper {
      padding-top: 68px;
    }
  }
}
