.photo__wrapper {
  @include container;
}
.photo__description {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 125px;
}
.photo__user-name {
  @include font-bold;
  font-size: 14px;
  line-height: 24px;
  color: $font-main-color;
  margin: 0;
}
.photo__publication-time {
  @include font-light;
  font-size: 12px;
  line-height: 24px;
  color: $font-main-color;
  text-transform: uppercase;
}
.photo__user-post {
  @include font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $font-main-color;
  width: 100%;
}
.photo__like {
  @include font-normal;
  font-size: 12px;
  line-height: 24px;
  color: $font-secondary-color;
  text-transform: uppercase;
  margin: 0;
}
.photo__items {
  display: flex;
  flex-wrap: wrap;
}
.photo__item {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}
.photo__img {
  margin: 0 auto;
  height: 180px;
}
