.price-list {
  margin-bottom: 40px;
  min-height: 151px;
}
.price-list__item {
  @include font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $font-main-color;
  text-transform: uppercase;
  display: block;
  min-height: 61px;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-left: none;
  margin: 0;
  padding-top: 15px;
  text-align: left;
  padding-left: 21px;
  background-color: #ffffff;
  position: relative;
  &--add {
    &::after {
      content: "";
      width: 35px;
      height: 35px;
      position: absolute;
      right: 14px;
      top: 12px;
      background-image: url("/img/icon-yes.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &--not {
    &::after {
      content: "";
      width: 35px;
      height: 32px;
      position: absolute;
      right: 15px;
      top: 12px;
      background-image: url("/img/icon-no.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
@media ($tablet-width) {
  .price-list__item {
    font-size: 0;
    min-height: 47px;
    min-width: 154px;
    &--description {
      font-size: 14px;
      text-transform: none;
      padding-top: 8px;
      padding-left: 15px;
      border-left: 2px solid #e5e5e5;
      &:first-child {
        border-top: 2px solid #e5e5e5;
        min-height: 48px;
      }
    }
    &--add {
      &::after {
        right: 58px;
        top: 6px;
      }
    }
    &--not {
      &::after {
        right: 58px;
        top: 6px;
      }
    }
  }
}
@media ($desktop-width) {
  .price-list__item {
    min-width: 235px;
    min-height: 60px;
    &--description {
      font-size: 18px;
      padding-top: 14px;
      padding-left: 20px;
      min-height: 60px;
      &:first-child {
        min-height: 61px;
      }
    }
    &--add {
      &::after {
        right: 98px;
        top: 14px;
      }
    }
    &--not {
      &::after {
        right: 98px;
        top: 14px;
      }
    }
  }
}
