.products__price {
  background-color: #283645;
}
.products__price-title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.products__price-item {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
