.products__price {
  background-color: #283645;
}
.products__price-title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.products__price-item {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.products__item {
  text-align: center;
  &--description {
    display: none;
  }
}
.products__item:nth-child(n+3) {
  display: none;
}
@media ($tablet-width) {
  .products__wrapper {
    display: flex;
    justify-content: center;
  }
  .products__item {
    width: 150px;
    &--description {
    display: block;
    margin-top: auto;
    }
  }
  .products__item:nth-child(n+2) {
  display: block;
  }
}
