.reviews__wrapper {
  @include container;
  padding: 20px;
}
.reviews__author-name {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}
.reviews__author-info {
  @include font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $font-main-color;
  display: none;
}
.reviews__author-post {
  @include font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $font-main-color;
}
.reviews__item {
  text-align: center;
  margin: 0;
}
.reviews__item:nth-child(n+2) {
  display: none;
}
@media ($tablet-width) {
  .reviews__author-name {
    width: 100%;
  }
  .reviews__author-info {
    display: block;
    width: 100%;
  }
  .reviews__author-post {
    order: -1;
  }
  .reviews__item {
    display: flex;
    flex-wrap: wrap;
  }
}
