.social {
  @include clearfix;
  padding-left: 50px;
}
.social__link {
  display: block;
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  float: left;
  margin-top: 16px;
  margin-right: 13px;
  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  &--facebook {
    background-image: url("../../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--youtube {
    background-image: url("../../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
  }
}
@media ($tablet-width) {
  .social {
    display: block;
    float: left;
    padding-left: 40px;
    margin-top: 22px;
  }
  .social__link {
    &:first-child {
      margin-left: 32px;
    }
  }
  .page-footer__copyright {
    .social {
      padding-left: 20px;
      padding-top: 23px;
      float: left;
    }
  }
}
@media ($desktop-width) {
  .page-footer__copyright {
    .social {
      padding-top: 59px;
      padding-left: 180px;
    }
  }
  .page-footer__wrapper {
    .social {
      padding-top: 2px;
      padding-left: 204px;
    }
  }
}
