.upload {
  background-color: #f2f2f2;
}
.upload__wrapper {
  @include container;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 755px;
}
.upload__size{
  display: none;
  width: 245px;
  height: 2px;
  background-color: #000000;
}
.upload__tools-item {
  float: left;
  margin-right: 32px;
  margin-top: 20px;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 35px;
  }
}
.upload__tools-wrapper {
  @include clearfix;
  margin-bottom: 100px;
}
.upload__tool {
  width: 47px;
  height: 48px;
}
.upload__photo {
  margin-bottom: 13px;
}
.upload__slide {
  width: 15px;
  height: 15px;
  border: 2px solid $font-secondary-color;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: absolute;
  top: -6px;
  left: 195px;
}
.upload__tools {
  display: flex;
  flex-direction: column;
}
.upload__tools-item--active {
  position: relative;
  .upload__size {
    display: block;
    position: absolute;
    bottom: -35px;
    left: -20px;
  }
}
@media ($tablet-width) {
  .upload__tools {
    width: 300px;
    margin-left: 20px;
  }
  .upload__wrapper {
    padding-top: 57px;
    flex-direction: row;
    min-height: 510px;
  }
  .upload__tools-wrapper {
    width: 300px;
    margin-bottom: 20px;
  }
  .upload__photo {
    width: 300px;
    height: 400px;
    background-color: aqua;
  }
  .upload__tool {
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 26px;
  }
  .upload__size {
    display: block;
    position: static;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }
  .upload__tools-item {
    margin: 0;
    margin-top: 37px;
    float: none;
    position: relative;
    &:first-child {
      margin: 0;
    }
  }
  .upload__tools-item--active {
    .upload__size {
      display: block;
      position: static;
    }
  }
  .upload__tools-item {
    @include clearfix;
  }
  .upload__slide {
    top: 13px;
  }
}
@media ($desktop-width) {
  .upload__buttons {
    display: flex;
    width: 410px;
  }
  .upload {
    width: 940px;
    margin: 0 auto;
    padding-left: 60px;
  }
  .upload__tools {
    margin-left: 63px;
    margin-top: 0px;
  }
  .upload__tool {
    width: 50px;
    height: 50px;
  }
  .upload__tools-item {
    margin-top: 10px;
  }
  .upload__tools-wrapper {
    margin-top: -10px;
  }
  .upload__buttons {
    width: 480px;
  }
}
